#outer
{
background-image:url('clinic.jpg');
height:580px;width:1050px;
background-repeat:no-repeat;
background-size:100% 100%;
margin:30px auto;
border:10px solid blue;
color:cyan;
}
#image
{
height:200px;width:200px;background:green;
border-radius:50%;
margin:0 auto;
}
#image img{height:200px;width:200px;
border-radius:50%;
}
.btn{
width:150px;height:40px;padding:10px;
background:black;border-radius:5px;
border:2px solid black;color:white;
text-decoration:none;
margin:10px;
cursor:pointer;
}